[user]
	email = kenta.hamanaka@gmail.com
	name = Kenta Hamanaka
[alias]
	st = status
	ci = commit
	br = branch
	rb = rebase
	ch = checkout
	re = reset
	sw = switch
	chp = cherry-pick
	logg = log --graph --oneline
[core]
	editor = emacs
        quotepath = false
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
