[user]
	email = kenta.hamanaka@gmail.com
	name = Kenta Hamanaka
[alias]
	st = status
	ci = commit
	br = branch
	rb = rebase
	ch = checkout
	re = reset
	sw = switch
	logg = log --graph --oneline
[core]
	editor = emacs
